body
{
     margin-top: 0px; 
     margin-right: 0px; 
     margin-bottom: 0px; 
     margin-left: 0px;
}          
#wrapper
{
     font-family: 'Exo 2', sans-serif;
     width: 80%;
     margin: 0 auto;
     padding-left: 10%;
     padding-right: 10%;
     padding-top: 60px;
     padding-bottom: 60px;
     color:white; 
     background-color:#0096d6; 
     font-size:24px;
}